.b1{
    background-color: cadetblue;
    color: rgb(90, 40, 227);
}

#b1 h1{
    font-family:cursive;
}

#imgtg1{
    width: 80px;
    border-radius: 40px;
}

#login_div{
    background-color: beige;
}

.logo{
    width: 100px;
    margin-top: 30px;
    border-radius: 40px;
}

#l{
    width: 80%;
}

#naame{
    width:80%;
}

.rmnms{
    background-color: beige;
    font-size: 30px;
}